<section flex="90" layout="row">
  <nav class="time-play" layout="row" layout-align="center center">
    <wz-playback-toggle-button [playerState]="playerState" (request)="forward($event)"></wz-playback-toggle-button>
    <wz-fast-playback-button [playerState]="playerState" [direction]="'forward'" (request)="forward($event)">
    </wz-fast-playback-button>
    <wz-time-display [playerState]="playerState" (request)="forward($event)"></wz-time-display>
    <wz-timecode-format-button [playerState]="playerState" (request)="forward($event)"></wz-timecode-format-button>
  </nav>
  <nav class="step-playback" flex layout="row" layout-align="center center">
    <wz-step-button [playerState]="playerState" [size]="'-5s'" (request)="forward($event)"></wz-step-button>
    <wz-step-button [playerState]="playerState" [size]="'-1s'" (request)="forward($event)"></wz-step-button>
    <wz-step-button [playerState]="playerState" [size]="'-1f'" (request)="forward($event)"></wz-step-button>
    <wz-step-button [playerState]="playerState" [size]="'+1f'" (request)="forward($event)"></wz-step-button>
    <wz-step-button [playerState]="playerState" [size]="'+1s'" (request)="forward($event)"></wz-step-button>
    <wz-step-button [playerState]="playerState" [size]="'+5s'" (request)="forward($event)"></wz-step-button>
  </nav>
</section>
<nav flex="10" layout-align="end stretch">
  <wz-volume-control [playerState]="playerState" (request)="forward($event)"></wz-volume-control>
</nav>
