@mixin wz-advanced-player-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  
  wz-advanced-player {
    .tool-bar {
      background-color: lighten(mat-color($foreground, base), 21%);
      border-top-color: lighten(mat-color($foreground, base), 27%);
    }
    .timecode {
      background-color: rgba(mat-color($foreground, base), .16);
      border: 1px solid rgba(mat-color($foreground, base), .04);
    }
    [mat-button].is-outlined {
      background-color: rgba(mat-color($background, background), 0.07);
      border-color: rgba(mat-color($background, background), 0.18);
      &[disabled] {
        color: rgba(mat-color($background, background), 0.87);
      }
    }

    [mat-icon-button] {
      mat-icon {
        color: rgba(mat-color($background, background), 0.87);
      }
    }
  }
}
