<div class="wz-dialog">
  <!-- <button mat-icon-button mat-dialog-close title="{{ 'COLLECTION.MEMBERS.CLOSE_BTN_TITLE' | translate }}" type="button" class="close">
    <mat-icon>close</mat-icon>
  </button>
  <h1 class="mat-dialog-title" mat-dialog-title>
    {{ 'COLLECTION.MEMBERS.DIALOG_TITLE' | translate }}
  </h1> -->
  <header>
    <div flex="100" layout="row">
      <h4 class="mat-headline" flex="100" layout-align="start center">
        {{ 'COLLECTION.MEMBERS.DIALOG_TITLE' | translate }}
      </h4>
      <button 
        mat-dialog-close
        mat-icon-button
        class="close"
        title="{{ 'COLLECTION.MEMBERS.CLOSE_BTN_TITLE' | translate }}">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </header>
  <p class="collection-name mat-caption">{{ collection.name }}</p>
  <div class="mat-dialog-content">
    <div class="m-data">
      <div class="row">
        <div class="cell">
          <h5 class="mat-subheading-1">
            <a color="primary" href="mailto:{{collection.email}}">{{collection.email}}</a>
          </h5>
        </div>
        <div class="cell">
          <p class="mat-subheading-1 member-role">{{ 'COLLECTION.MEMBERS.OWNER_ROLE_TITLE' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="m-data" *ngIf="collection.editors">
      <div class="row" *ngFor="let editor of collection.editors">
        <div class="cell">
          <h5 class="mat-subheading-1">
            <a color="primary" href="mailto:{{ editor.emailAddress }}">{{ editor.emailAddress }}</a>
          </h5>
        </div>
        <div class="cell">
          <p class="mat-subheading-1 member-role">{{ 'COLLECTION.MEMBERS.EDITOR_ROLE_TITLE' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="m-data" *ngIf="collection.viewers">
      <div class="row" *ngFor="let viewer of collection.viewers">
        <div class="cell">
          <h5 class="mat-subheading-1">
            <a color="primary" href="mailto:{{ viewer.emailAddress }}">{{ viewer.emailAddress }}</a>
          </h5>
        </div>
        <div class="cell">
          <p class="mat-subheading-1 member-role">{{ 'COLLECTION.MEMBERS.VIEWER_ROLE_TITLE' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
