@mixin wz-asset-grid-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $accent: map-get($theme, accent);

  wz-asset-grid ul.asset-grid-view {
    & > li {
      .asset {      
        background-color: mat-color($background, app-bar);
      }
      .asset-name {
        @include text-contrast(mat-color($background, app-bar));
      }
      .asset a.asset-desc {
        span.mdata-1 {
          @include text-contrast(mat-color($background, background));
        }
      }
      .asset:hover a.asset-desc, .asset:active a.asset-desc {
        span.mdata-1 {
          @include text-contrast(mat-color($foreground, base));
        }
      }
      .asset section.actions {
        nav.asset-options {
          background-color: rgba(mat-color($foreground, base), .6);
          button[mat-icon-button], a[mat-icon-button] {
            @include text-contrast(mat-color($foreground, base));
            &:hover {
              background-color: rgba(mat-color($foreground, base), .18);
            }
            &:disabled {
              mat-icon {
                color: rgba(mat-color($background, background),.2);;
              }
            }
          }
        }
      }
      span {
        &.mdata-3 {
          @include text-contrast(mat-color($foreground, base));
        }
        &.comment-count {
          &::before {
            color: mat-color($mat-grey, 800);
          }
          span.count {
            @include text-contrast(mat-color($background, card));
          }
          &::after {
            color: mat-color($background, card);
          }
        }
        &.subclip-timeline {
          background-color: darken(mat-color($background, status-bar), 1%);
          .subclip-segment {
            background-color: rgba(mat-color($accent, darker), .95);
          }
        } 
      }
    }
  }
}
