@mixin wz-collections-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);


  collections-component .collection-head {
    color: mat-color($foreground, text, .7);
    box-shadow: inset 0 -1px 0 0 mat-color($foreground, divider), 0 1px 0 0 rgba(mat-color($background, card), .6);
  }
  collections-component .query-details {
    color: mat-color($foreground, secondary-text, .75);
  }

  .collections-list {
    li.collection {
      background-color: rgba(mat-color($background, card), .65);
      color: rgba(mat-color($foreground, text), .7);
      border: 1px solid rgba(mat-color($background, card), .01);
      a.collection-name:hover {
        color: mat-color($primary);
      }
      .asset-count {
        background-color: rgba(mat-color($foreground, secondary-text), .4);
        .count {
          @include text-contrast(mat-color($foreground, secondary-text));
        }
      }
      &.focused {
        background-color: rgba(mat-color($background, card), 1);
        border: 1px solid rgba(mat-color($primary, default), .9);
      }
      .divider {
        box-shadow: inset 0 1px 0 0 mat-color($foreground, divider);
      }
      ul.meta-data-tags {
        li.tag {
          background-color: mat-color($foreground, divider);
          color: mat-color($foreground, secondary-text);
        }
      }
      .collection-info a {
        color: mat-color($primary, darker);
      }
    }
    .asset .asset-thb {
      background: #000;
      .asset-id {
        background-color: rgba(mat-color($foreground, base), .1);
        .id {
          @include text-contrast(mat-color($foreground, base));
        }
      }
      .selected {
        mat-icon {
          @include text-contrast(mat-color($foreground, base));
        }
      }
    }
  }

  // slide out collection search form
  wz-item-search-form {
    form {
      border: 1px solid mat-color($foreground, divider);
    }
    input {
      color: mat-color($foreground, secondary-text);
      background-color:  rgba(mat-color($background, app-bar), .9);
      &::placeholder {
        color: mat-color($foreground, hint-text);
      }
      &:focus {
        background-color: lighten(mat-color($background, app-bar), 40%);
      }
    }
    .vertical-divider {
      &:after {
        box-shadow: inset 1px 0 0 0 mat-color($foreground, divider);
      }
    }
  }

  // Copy legacy link.This may change into copy share link
  .mat-dialog-container collection-delete-component .wz-dialog,
  .mat-dialog-container .wz-dialog.wz-legacy-link {
    [mat-dialog-title] {
      color: mat-color($foreground, text);
    }
  }
  .wz-legacy-link {
    .link-wrapper {
      .link-input {
        border: 1px solid mat-color($foreground, divider);
        color: rgba(mat-color($primary, default),.75);
        &:focus, &:active {
          border-color: rgba(mat-color($primary, default),.9);
        }
        &::selection {
          background: rgba(mat-color($accent, default),.25);
          color: mat-color($primary, default);
        }
      }
      button {
        color: mat-color($foreground, base, .7);
        &:hover {
          color: mat-color($primary);
          background-color: mat-color($foreground, base, .1);
        }
      }
    }
  }
}
